/*font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */
 body{font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
}
/*reset*/
ul,ol {list-style-type: none;
margin: 0;
padding: 0;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
a{text-decoration: none;}
img{display: block;}
/*common*/
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/*header*/

.header-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link.current {
position: relative;
}
.nav-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo-header {
    padding: 24px 0;
    margin-right: 76px;
}
.logo {font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;}
.logo{
    font-family: "Raleway", sans-serif;
}

 .logo-header  .logo-part {color: #2e2f42;}

 .nav-link {font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.nav-link:hover,
.nav-link:focus,
.nav-link.current
 {color: #404bbf;} 

.contacts {
    margin-left: auto;
    font-style: normal;}
.contacts-link {
   
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {color: #404bbf
}
/*efective section1*/
.main-container {
    display: flex;
    align-items: center;

}
.effective {
    display: block;
    background-color:  #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
background-size: cover;
margin: 0 auto;
     padding: 188px 0;
}
 .effective-text{
     max-width: 496px;
    display: flex;
    font-weight: 700;   
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin: 0 auto 48px auto;}  
 .button {
    display: block;
gap: 10px;
border-radius: 4px;
border: none;
width: 169px;
height: 56px;
background-color: #4d5ae5;
font-weight: 500px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
margin: 0 auto;
cursor: pointer; 
min-width: 169px;
transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {background-color: #404bbf;
 cursor: pointer;
}
/*section2*/
.feature{
padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}
.feature-list {
    display: flex;
    align-items: center;
    gap: 24px;
    }
    .feature-item {
    width: calc((100% - 72px)/4);
    }
    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;

    }
.feature-title {font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;

}
.feature-text {font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455 ;
}
/* section3  team*/
.team{
    display: flex;
   padding: 120px 0;
    justify-content: center;
    flex-direction: column;
    background: #f4f4fd;
}
.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.team-title {font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
 text-transform: capitalize;
color: #2e2f42;

 margin-bottom: 72px;
}
.team-item {
     border-radius: 0px 0px 4px 4px; 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
     background-color: #FFFFFF ;
     width: calc((100%-72px)/4);
     gap: 24px;
}
.name {
     padding: 32px 0;

}
.team-hero {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.team-text {
     text-align: center; 
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:  #434455;
}
.icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.icons-item{
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}
.icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-link:hover, .icons-link:focus
{
    background-color:  #404bbf;
}
.icon {
    fill:  #f4f4fd;
}
.icons-item.




/* section4  portfolio*/
.portfolio {
    display: flex;
    align-items: center;
    padding: 120px 0;
    flex-direction: column;
}
.portfolio-headline {
     margin-bottom: 72px; 
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
 text-transform: capitalize;
color:  #2e2f42;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
    gap: 24px;
    row-gap: 48px; 

}
.portfolio-item {
    width: calc((100%- 48px)/3);
 transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);

}
.portfolio-item:hover .images-text {
     transform: translateY(0%);
    }

.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-deskript {
 padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
 


}
.portfolio-title {
    font-weight: 500;
 font-size: 20px ;
  letter-spacing: 0.02em;
  line-height: 1.2;
color: #2e2f42;
margin-bottom: 8px;
}
.portfolio-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455 ;

}
.portfolio-images {
    position: relative;
    overflow: hidden;
}
.images-text {
    position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*footer*/
.footer-container { 

    display: flex;
    align-items: baseline;
    
} 
.footer {
    padding: 100px 0;
    background-color:  #2e2f42;
}
.footer-content{
margin-right: 120px;
}
.logo{
     font-family: "Raleway", sans-serif;
align-items: center;
justify-content: flex-start;
}
.logo-footer { 
    display: inline-block;
    line-height: 1.17 ;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;

}
.logo-footer  .logo-part{
    color: #f4f4fd;
}
.footer-text {
    display: block;
align-content: center;
flex-wrap: wrap;
max-width: 264px;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.soc-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.soc-list {
    display: flex;
    gap: 16px;
}
.soc-item {
    width: 40px;
    height: 40px;
}
.soc-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.soc-link:hover,
.soc-link:focus {
    background-color: #31d0aa;
}
.soc-icon {
    fill: #f4f4fd;

}
